html,body {
  height: 100%;
}
header{
  background: url(/img/intro5.jpg) center center;
  height: 100%;
  background-size:cover;
}
.span{
  /*margin-top: 10px;*/
  padding-bottom: 3em;
  text-align: center;
}
.header{
  text-align: center;
  padding-top: 6em;
  color: white;
}
.header h1{
  letter-spacing: 0.2em;
}
h1{
  font-family: 'Lato',cursive;
  font-weight: bold;
}
h2, h3{
  font-weight: bold;
}
.twitter{
  padding: 17px;
  background-color: #498FBD;
  color: white;
  border-radius: 5px;
}
header h2{
  font-weight: lighter;
}
h2{
  font-weight: bold;
}
.header button{
  background-color: transparent;
  padding: 13px;
  border-radius: 5px;
}

.rotation img{
-webkit-transition:-webkit-transform .9s;
-moz-transition:-moz-transform .9s;
-o-transition:-o-transform .9s;
-ms-transition:-ms-transform .9s;
transition:transform .9s;
}
.rotation img:hover{
-webkit-transform:rotate(540deg);
-moz-transform:rotate(540deg);
-o-transform:rotate(540deg);
-ms-transform:rotate(540deg);
transform:rotate(540deg);
}

.fleche{
  position: absolute;
  bottom:0.5em;
  left: 50%;
  color: white;
  font-size: 4em;
}
.fleche a{
  color: white;
}
.container-fluid{
  max-width: 65%;
}
.right{
  float: right;
}
.left{
  float: left;
  margin-right: 1em;
}
nav {
  padding: 0em;
  font-weight: bold;
  color: #34495E;
  padding: 14px 0px 0px 14px
}
nav li{
  float: left;
  list-style: none;
}
nav li a{
  text-decoration: none;
  margin-right: 1em;
  color: #34495E;
}
.background{
    background-color: #ECF0F1;
}
.container{
  max-width: 65%;
  margin: auto;
  padding: 5em 0em 5em 0em;
}
.center{
  text-align: center;
}
.grey{
  color:#A9B2BB;
}
.green{
  color: white;
  background-color: #1ABC9C;
  border-radius: 5px;
  padding: 7px;
}
.blue{
  color: white;
  background-color: #3394D5;
  border-radius: 6px;
  padding: 7px;
}
.padding{
  padding: 3em 0em 3em 0em


















  ;
}
.fonce{
  background-color: #34485D;
  color: white;
}
.uppercase{
  border-radius: 5px;
}
.femme{
  background: url(/img/banner-bg.jpg);
  padding: 7em;
  background-size:cover;
  background-position:center;
}
.femme h2{
  color: white;
}
.femme button{
  text-transform: uppercase;
  background-color:#324C63;
  color: white;
}
.position{
  position: absolute;
  bottom: 7em;
}
/*.container1{
  padding: 12em 0 12em 0;
}*/
.float{
  float: right;
}
.inline{
  display: inline;
}
.listStyle{
  list-style: none;
  float: left;
  margin-right: 1em;
  font-size: 2em;
}
.listStyle1{
  list-style: none;
}
.fonce a{
  text-decoration: none;
  color: white
}
footer{
  background-color: #ECF0F1;
}
footer .background{
  color: #BAC1C8;
}
footer .background a{
  color: #A9B2BB;
  font-weight: bold;
}
